@model List<Product>
@{
    ViewData["Title"] = "GST Calculation";
}

<h2>Product GST Calculator</h2>
<div class="container">
    <form method="post" asp-action="Create">
        <input type="text" name="ProductName" placeholder="Product Name" required />
        <input type="number" step="0.01" name="Price" placeholder="Price" required />
        <input type="number" step="0.01" name="TaxRate" placeholder="GST (%)" required />
        <button type="submit" class="btn btn bg-primary">Add</button>
    </form>

    <hr />
    <a href="/GST/ExportToExcel" class="btn btn-primary">Download </a>

    <table class="table table-bordered" border="1" cellpadding="5">
        <tr>
            <th class="text-center">Product</th>
            <th class="text-center">Price</th>
            <th class="text-center">GST %</th>
            <th class="text-center">CGST</th>
            <th class="text-center">SGST</th>
            <th class="text-center">Total</th>
            <th class="text-center">Remove</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.ProductName</td>
                <td class="text-center">@item.Price</td>
                <td class="text-center">@item.TaxRate</td>
                <td class="text-center">@item.CGSTAmount</td>
                <td class="text-center">@item.SGSTAmount</td>
                <td class="text-center">@item.TotalAmount</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')" class=" btn btn-danger">Delete</a>||
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')" class=" btn btn-danger">Update</a>
                </td>
            </tr>
        }
    </table>
</div>